<robot
  name="golf_ball">
  <link
    name="golf_ball">
    <inertial>
      <origin
        xyz="0 -2.81194110964694E-35 -4.5924E-19"
        rpy="0 0 0" />
      <mass
        value="0.090478" />
      <inertia
        ixx="1.44764589477418E-05"
        ixy="0"
        ixz="0"
        iyy="1.44764589477418E-05"
        iyz="0"
        izz="1.44764589477418E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://golf_ball/meshes/golf_ball.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://golf_ball/meshes/golf_ball.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="golf_ball">
    <material>Gazebo/White</material>
    </gazebo>
    <!-- <gazebo>
    <static>true</static>
</gazebo> -->
</robot>
